html, body {
    margin: 0;
    padding: 0;
    background-color: #759dd1;
}

.axis>* {
    font-size: 12px;
    fill: none;
    shape-rendering: crispEdges;
}

.bar {
    color: grey;
    fill: grey;
}

.boundary {
    fill: none;
    stroke: #7b5228;
    stroke-width: 1px;
}

.land {
    /*fill: #ede9c9;*/
    /* The topology for outline of the majority
     * of the land mass is inside-out, unfortunately
     */
    fill: none;
    stroke: #7b5228;
    stroke-width: 1px;
}

.water {
    fill: none;
    stroke: blue;
    stroke-width: 1px;
}

.roads {
    fill: none;
    stroke: slategray;
    stroke-width: 1px;
}

.entities path {
    fill: none;
    stroke: blueviolet;
    stroke-width: 2px;
}

.entities path:hover {
    fill: none;
    stroke: deepskyblue;
    stroke-width: 4px;
}

.overlay {
    fill: none;
    fill-opacity: 0.0;
    pointer-events: all;
}
